<!DOCTYPE html>
<html lang="en">
	<head>
	{% if title %}
	<title>{{title}} - kweb</title>
	{% else %}
	<title>kweb</title>
	{% endif %}
    <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='diff_match_patch.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
	<script type=text/javascript>
		window.BASE_URL = {{ request.script_root|tojson|safe }};
	</script>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" onclick="clear_menus();" />
    {% block extrahead %} {% endblock %} 
	</head>
	<body>
		<div class="navbar">
		<div class="navbar-inner">
			<a class="brand">kweb</a>
			<ul class="nav">
				<li><a href="{{ url_for('hello_world') }}">Home</a></li>

                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          {% for tool in g.tools %}
                          <li><a href="{{ url_for('base_run', tool=tool) }}"> {{ tool.upper() }} </a></li>
                          {% endfor %}
                          <li class="divider"></li>
                          <li><a href="javascript:void(0);"><i>More coming soon.</i></a></li>
                        </ul>
                      </li>

                {% if not g.user or not g.user.email %}
				<li><a href="{{ url_for('login') }}">Login or Register</a></li>
                {% endif %}
                {% if g.user and g.user.email %}
                {% if g.user.role %}
					<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          	<li><a href="{{url_for('manage_users')}}"> Manage Users </a></li>
                          	<li><a href="{{url_for('manage_collections')}}"> Manage Collections </a></li>
                        </ul>
                    </li>
				{% endif %}
				<li><a href="{{ url_for('settings') }}">Settings</a></li>
				<li><a href="{{ url_for('logout') }}">Logout, {{g.user.email}}</a></li>
                {% endif %}
				<li><a href="http://kframework.org/">K Project</a></li>
				<li><a href="http://fsl.cs.uiuc.edu/">FSL Website</a></li>
			</ul>
		</div>
   		</div>
			<div class="container-fluid">
				{% if get_flashed_messages(category_filter=['error']) %}
					<div class="alert alert-error text-center">
						{% for message in get_flashed_messages(category_filter=['error']) %}
							{{ message }}
						{% endfor %}
					</div>
				{% endif %}
				{% if get_flashed_messages(category_filter=['success']) %}
					<div class="alert alert-success text-center">
						 <button type="button" class="close" data-dismiss="alert">&times;</button>
						{% for message in get_flashed_messages(category_filter=['success']) %}
							{{ message }}
						{% endfor %}
					</div>
				{% endif %}
    			{% block content %}{% endblock %}
        		<p align="center">&copy; Formal Systems Lab, University of Illinois</p>
			</div>
        </body>
</html>
