{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block content %}
    {% if failed %}
        <div class="row-fluid" align="center">
            <div class="alert">
                <strong>Please email phil@linux.com </strong> for password reset, not yet implemented.
            </div>
        </div>
    {% endif %}
    {% if sent %}
    <div class="row-fluid" align="center">
        <div class="alert-success span6 offset3" style="padding:20px; margin-bottom:20px;">
            <strong>Check your e-mail inbox!</strong> We've sent you a new password.
        </div>
    </div>
    {% endif %}
	{% if not sent %}
    <div class="row-fluid" style="padding-bottom:20px;">
        <div class="span8 offset3">
            <h3>Forgot password?<small> No problem!  We'll make you a new one.</small></h3>
            <form name=login method=post action="{{ url_for('forgot') }}">
                {{ render_field(forgotform.email) }}
                <p><input type=submit value=Continue class="btn btn-primary"></p>
            </form>
        </div>
    </div>
	{% endif %}
{% endblock %}
