{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block content %}
	<div class="alert alert-info text-center">
		All collections must have an owner.  If the owner is default, the collection will be added to all new user accounts as they are made.  If the owner is available, the collection will be available for any user to subscribe to.
	</div>
	<div class="row-fluid" style="padding-bottom:20px;">
		<div class="span5 offset1 content-left">
			<h3>New collection:</h3>
			<form name=login method=post action="{{ url_for('manage_collections') }}">
			    {{ render_field(newform.name) }}
			    {{ render_field(newform.owner) }}
			    {{ render_field(newform.tool) }}
			    {{ render_field(newform.description) }}
			<p><input type=submit value=Add class="btn btn-success" >
			</form>
		</div>
		<div class="span5 offset1">
			<h3>Edit collection: <small>(blank for no change)</small></h3>
			<form name=login method=post action="{{ url_for('manage_collections') }}">
			    {{ render_field(editform.id) }}
				{{ render_field(editform.name) }}
			    {{ render_field(editform.tool) }}
			    {{ render_field(editform.description) }}			    
			<p><input type=submit value=Edit class="btn btn-primary" >
			</form>
		</div>
	</div>
	<div class="row-fluid">
	   	<table class="table">
	    	<thead>
	    		<tr>
	    			<th>ID</th>
	          		<th>Name</th>
	          		<th>Owner</th>
	          		<th>Absolute Path</th>
	          		<th>Tool</th>
	          		<th>Description</th>
	          		<th></th>
	        	</tr>
	      	</thead>
	      	<tbody>
	      		{% for collection in all_collections %}
	      			<tr>
	      				<td>{{ collection.id }}</td>
	      				<td>{{ collection.name }}</td>
	      				<td>{{ collection.owner_email }}</td>
	      				<td>{{ collection.get_collection_path() }}</td>
	      				<td>{{ collection.tool }}</td>
	      				<td>{{ collection.description }}</td>
	      				<td><a class = "btn btn-danger" href="{{ url_for('delete_collection', id=collection.id) }}">Delete</a></td>
	      			</tr>
	      		{% endfor %}
	      	</tbody>
	    </table>
	</div>
{% endblock %}