{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block content %}
	<div class="alert alert-info text-center">
		To create a collection, simply log into the desired owner using "Manage Users" and create the collection on their "Settings" page.  Use owners default or available to make the collections either visible to or subscribable to all users, respectively.
	</div>
	<div class="row-fluid" style="padding-bottom:20px;">
		<div class="span5">
			<h3>Edit collection: <small>(blank for no change)</small></h3>
			<form name=login method=post action="{{ url_for('manage_collections') }}">
			    {{ render_field(editform.id) }}
				{{ render_field(editform.name) }}
			    {{ render_field(editform.tool) }}
			    {{ render_field(editform.description) }}			    
			<p><input type=submit value=Edit class="btn btn-primary" >
			</form>
		</div>
	</div>
	<div class="row-fluid">
	   	<table class="table">
	    	<thead>
	    		<tr>
	    			<th>ID</th>
	          		<th>Name</th>
	          		<th>Owner</th>
	          		<th>Absolute Path</th>
	          		<th>Tool</th>
	          		<th>Description</th>
	          		<th></th>
	        	</tr>
	      	</thead>
	      	<tbody>
	      		{% for collection in all_collections %}
	      			<tr>
	      				<td>{{ collection.id }}</td>
	      				<td>{{ collection.name }}</td>
	      				<td>{{ collection.owner_email }}</td>
	      				<td>{{ collection.get_collection_path() }}</td>
	      				<td>{{ collection.tool }}</td>
	      				<td>{{ collection.description }}</td>
	      				<td><a class = "btn btn-danger" href="{{ url_for('delete_collection', id=collection.id) }}">Delete</a></td>
	      			</tr>
	      		{% endfor %}
	      	</tbody>
	    </table>
	</div>
{% endblock %}