{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block content %}
    <div class="row-fluid" style="padding-bottom:20px;">
        <div class="span8 offset3">
            <h3>Forgot password?<small> No problem!  We'll make you a new one.</small></h3>
            <form name=login method=post action="{{ url_for('reset', password_hash = password_hash, email = email) }}">
                {{ render_field(resetform.password) }}
                {{ render_field(resetform.confirm) }}
                <p><input type=submit value=Continue class="btn btn-primary"></p>
            </form>
        </div>
    </div>
{% endblock %}
