{% extends "base.html" %}
{% block extrahead %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css-tree.css') }}" />
	<script type=text/javascript src="{{url_for('static', filename='dropdowns.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='run_code.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='jquery-linenumbers.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='jquery-scrollto.js') }}"></script>
<script type=text/javascript>window.tool = '{{ tool }}'; window.hidden = {{ hidden }}; window.open_path = '{{ open_path }}'; window.onload = autoload; window.autoload = '{{ autoload }}'</script>
{% endblock %}
{% block content %}
			{% include "run_core.html" %}
			<div id=meta style="display:none;">
				<i><a href="javascript:void(0);" onclick="toggle_metadata()" id="hide">Hide Metadata</a></i>
				<div id="metadata"></div>
			</div>
{% endblock %}
